[submodule "QuantumESPRESSO.jl"]
	path = QuantumESPRESSO.jl
	url = git@github.com:MineralsCloud/QuantumESPRESSO.jl.git
	branch = master
[submodule "QuantumESPRESSOHelpers.jl"]
	path = QuantumESPRESSOHelpers.jl
	url = git@github.com:MineralsCloud/QuantumESPRESSOHelpers.jl.git
	branch = develop
[submodule "Fortran90Namelists.jl"]
	path = Fortran90Namelists.jl
	url = git@github.com:singularitti/Fortran90Namelists.jl.git
	branch = develop
[submodule "QuantumESPRESSOBase.jl"]
	path = QuantumESPRESSOBase.jl
	url = git@github.com:MineralsCloud/QuantumESPRESSOBase.jl.git
	branch = develop
[submodule "QuantumESPRESSOParsers.jl"]
	path = QuantumESPRESSOParsers.jl
	url = git@github.com:MineralsCloud/QuantumESPRESSOParsers.jl.git
	branch = develop
